#helmet {
    width: 200px;
}

.container {
    font-family: Consolas, sans-serif;
    background-image: linear-gradient(45deg, mediumslateblue, mediumturquoise);
    width: 300px;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradiente 4s ease-out infinite;
}

.container > h2{
    color: white;
}

@keyframes gradiente {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.krisi-spisok{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    width: 400px;
}
.krisa-style{
    width: 300px;
    height: 100px;
}
body{
background: linear-gradient(blue, pink);
}
li{
    list-style-type:none;
}
